body {
  background-color:#f6f7f8;
}

.logo {
  color:#121212;
  font-size: 50px;
  font-weight:500;
  
}

.goo {
  width: 20px;
}

.title {
  font-family: Outfit, var(--mantine-font-family);
  font-weight: 500;
  color: #f6f7f8;
}

.groupForgotPassword {
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  margin-top: 0.5rem;
}

.forgotPassword {
  color: var(--mantine-color-dark-9);
  font-size: var(--mantine-font-size-xs);
}

.Politic {
  font-size: 10px;
  font-weight: 400;
  padding: 10px 0px;
}

.criar{
  width: 100%;
  background-color: #F15D41;
  border: 2px outset #121212
}

.criar:hover{
  background-color: #F15D41;
  border: 2px outset #F15D41;
}