.painel {
    margin: 0;
    max-width: 15%;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.propaganda {
    background: linear-gradient(135deg, #f0faff 0%, #f5f0ff 100%);
    padding: 17px;
    border: 1px solid #ccc;
    border-radius: 10px;
}