.mainContainer {
    display: block;
    
    gap: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: auto;
    margin-left: 35px;
}

.headerContainer {
    display:flex;
    flex-direction: column;
}

.searchInput {
    padding: 10px;
    font-size: 16px;
    flex: 1;
}